<app-header (studentSelected)="onStudentSelected($event)"></app-header>


<div>
    <h1>STUDY QUESTIONS!!!!!</h1>
    <a routerLink="/add-question">Add Question</a>
    
 
    


    <div class="container">
        <div class="row">
            <div *ngFor="let question of questions" class="col-md-4 mb-4">
                <div class="pastel-yellow-card" (click)="toggleAnswer(question)">
                    <div class="question">{{ question.question1 }}</div>
                    <div class="answer" *ngIf="question.isAnswerVisible">{{ question.answer }}</div>
                    
                </div>
                <button type="submit" (click)="createFavorite">Add to Favorites</button>
            </div>
        </div>
    </div>


