
.background-paper {
  background-image: url('../assets/linedpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

  
      
  